@page "/D_27"
@inject IJSRuntime js


<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>


<article class="contenido transparent  ">

    <div class="centro">
    

         <br /> <br />

        
    <section >
        

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯 𝄞𝄟  Bienvenidos 𝅘𝅥𝅘𝅥𝅱 𝄞𝄟</h2>

            <br /><br />

            <p class="">Bienvenid@s a este salón virtual donde tendremos los materiales que vamos a estudiar, compartir nuestras experiencias, tareas  y practicar cada semana, aquí verás los videos, leerás los artículos y tendrás los temas de cada clase. Como saben hay 7 actividades que vamos a experimentar cada semana independientemente de los temas que estemos viendo en las clases. Estos son: <br />
1.-Un audio con una práctica de silencio, meditación, mindfulness o visualizaciones guiadas <br />
2.-Un mantra para aprendernos cada semana  <br />
3.-Un ritmo o serie de ritmos para practicar mínimo 5 minutos al día <br />
4.-Una o dos páginas mínimo como resumen de tu experiencia semanal, las puedes subir aquí <br />
5.-Un ejercicio de voz terapéutica que vas a realizar cada día <br />
6.-Uno o más videos complementarios a los temas que viste en clase <br />
7.-Uno o más ejemplos de música, canciones, piezas o sonidos para escuchar activamente sin hacer otra cosa</p>
<br>
        

        
    </section>
        
    <section>


            <video class="radius sizevideo" controls="controls">
                <source src="/video/Junio/clase11semana_6.mp4" type="video/mp4" />
            </video>
    </section>
     </div>
    

    
</article>

@code {

   

}   
