@page "/D_29"


<article class="contenido ">


    <section class="derecho transparent">
        
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  La Musica 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

            <br /><br />
        
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </section>
        <br /><br /><br /><br /><br />

    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Elementos de la Música 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        <p>
            
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
        <br /><br /><br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Notas Musicales 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />

        
        <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
        <br /><br /><br /><br /><br />
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Elementos de la Música 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        <p>
            
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
        <br /><br /><br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Notas Musicales 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        
        <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br /><br /><br />
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Elementos de la Música 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        <p>
        
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
        <br /><br /><br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Notas Musicales 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />

        
        <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hM6DYAf6kl0"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>

</article>
<div id="tema" class="radius">
        <a target="_blank" style="text-decoration:none;" href="\video\Clase_2.pdf">Presentación Semana1.pdf</a>
    </div>

@code {

}
