@page "/D_29"

<PageTitle> 29-Julio </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />

</div>


<article class="contenido  transparent">


    <section class="derecho">
        
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Que son las emociones? 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

            <br /><br />

        <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/ngGD8FsNWKk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </section>
        <br /><br /><br /><br /><br />

    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  TED  Efecto de la música en el cerebro 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        <p>
            
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/Xoshu0fiNxo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
        <br /><br /><br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Música y Cerebro 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />

        
        <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/BMdfmsv4iS8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
        <br /><br /><br /><br /><br />
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Sonido Vs Ruido 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        <p>
            
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/FR5aSUbR4ic" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
        <br /><br /><br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Historia de la Musicoterapia 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        
        <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/JnSXn0hnGkE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br /><br /><br />
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Los beneficios de la musicoterapia 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
            <br /><br />
        <p>
        
            <iframe class="radius" width="500" height="330" src="https://www.youtube.com/embed/hWRb7CWkE00" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </p>
    </section>
        <br /><br /><br /><br /><br />

    <div id="tema" class="radius">
        <a target="_blank" style="text-decoration:none; margin-left:18px;" href="\video\Junio\Clase_2.pdf">Musicoterapia.pdf</a>
    </div>
    <br /><br /><br />
    <section>

        <video class="radius space sizevideo" style="margin-left:450px;" controls="controls">
            <source src="/video/junio/clase_2_semana_1_29.mp4" type="video/mp4" />
        </video>
        
    </section>
    
</article>

<Footer/>
@code {

}
