@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 12 2024
Fecha modificación:
Bugs:
Pendiente: Generar audio con JS
/////////////////////////////////////
*@

@page "/D_11"

<PageTitle>11-Julio</PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />

</div>

<article class="contenido transparent">

    <br /><br /><br />
    
    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Enseñanza musical y musicoterapia 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/b0zMgCAM_Dc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Instrumento de sonoterapia 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/c2XdVZw31Gw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/gvgFhc3znTk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/0FK3f7nJZ-k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/uKOeEzP3kLs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/U79v9DBdSis" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/f-AsHTQGNfw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/a2jMjmdWdII" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/2jO_uHv4mH8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/UIoLk5ZiAgM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/OdkPOAHaRYQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


    </section>
    <br /><br /><br /> 
    <section class=" izquierdo">
        <h2 class="title"> Mantra</h2>
        <br /><br />
        <p  style=" margin-right:60%;">
            Esta semana la voz terapéutica se une con el mantra para experimentar esa unión de cantar, concentrarte y aprenderte palabra por palabra sintiendo el significado de cada uno de los shanti mantras. Recítalos una o varias veces cada día y entra cada vez más profundo en sentir lo que cantas y cómo está tu sonido cada vez.
        </p>

        <video class="radius space sizevideo" controls="controls">
            <source src="/video/julio/mantra_1_d11.mp4" type="video/mp4" />
        </video>
        <video class="radius space sizevideo" controls="controls">
            <source src="/video/julio/mantra_2_d11.mp4" type="video/mp4" />
        </video>
        <video class="radius space sizevideo" controls="controls">
            <source src="/video/julio/mantra_3_d11.mp4" type="video/mp4" />
        </video>

    </section>
    <br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musicoterapia Comunitaria 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br />

        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/9bLqu_qJB48" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/_LXKHvp27jQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/CCiaYXml_9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/Y-wBX46SpbE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class=" izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musicoterapia Hospitalaria 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br />
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/rcbJ84fAnvg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/I72ioCKK_IE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musicoterapia Organizacional 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br />
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/6SFPC_Un9NM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class=" izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Terapia Rítmica 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br />
        <p style=" margin-right:60%;">
            Ve acumulando todos los ritmos que has aprendido hasta ahora, cuando practiques hazlo desde el primer ejercicio hasta los de esta semana, cada vez con más control y diversión.
        </p>
        <br /><br />
        <video class="radius space sizevideo" controls="controls">
            <source src="/video/julio/trs3_d11.mp4" type="video/mp4" />
        </video>

    </section>
    <br /><br /><br />
    <section >

        <div id="tema" class="radius">
            <a target="_blank" style="text-decoration:none;  text-align:center; " href="/video/julio/Clase_5_Semana_3_d11.pdf">Sanación <br /> Musicoterapia Holística .pdf</a>
        </div>

    </section>
    <br /><br /><br />
    <section>

        <video class="radius space sizevideo" style="margin-left:430px;" controls="controls">
            <source src="/video/julio/clase_5_semana_d11.mp4" type="video/mp4" />
        </video>
    </section>

</article>


@code {

}
