@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 15 2024
Fecha modificación:
Bugs:
Pendiente: No
/////////////////////////////////////
*@

@page "/D_13"

<PageTitle>13-Julio</PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />

</div>

<article class="contenido transparent">

    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Escucha Activa 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
        <br /><br />
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/16_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/17_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/29_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/31_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/33_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/35_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/37_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/39_d13.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="height:180px ; width:300px;" controls="controls">
            <source src="/video/julio/42_d13.mp4" type="video/mp4" />
        </video>
        

    </section>    
    <br /><br /><br /><br />
    <section class="derecho">

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Practicas 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>

        <br /><br /><br />
        <div id="tema" class="radius">
            
            <a target="_blank" style="text-decoration:none; text-align:center;" href="/video/julio/diapositivas_clase_6_d13.pdf">Musicoterapia Holística.pdf</a>
        </div>
        <br /><br /><br />
        <div style=" margin-left:60%; margin-right:10%; ">
            <h3> Praxis 1</h3>
            <p>
                Percutir una vez ( acomoda la mano, puedes tomarlo con tres dedos, normalmente no se agarra como cuchara con toda la mano evitar golpear fuerte)
                <br />
                Percutir 1,2<br />
                Percutir 1, 2 3, (espacia los sonidos) debe haber silencios.<br />

                Percutir en el borde exterior del labio <br />
                Percutir dentro del borde <br />

                ESCRIBE O COMENTA QUÉ CAMBIOS NOTASTE EN BASE AL RECUADRO "CLASIFICACIÓN"
            </p>
        </div>
        <br /><br />
        <div style=" margin-left:60%; margin-right:10%; ">
            <h3>Praxis 2</h3>
            <p>
                Ahora repite los mismos ejercicios de Praxis 1 colocando el cuenco en diversas plataformas. Y observa los cambios que hay.<br />

                Cuenco en el piso <br />
                cuenco en tu mano <br />
                cuenco en una parte del cuerpo (tírate en tu piso y siéntelo) <br />
            </p>

        </div>
        <br /><br />
        <div style=" margin-left:60%; margin-right:10%; ">
            <h3>Praxis 3</h3>
            <p>
                De manera similar a los ejercicios antes, vas a tratar de sacar un sonido constante, tipo loop, pero frotando la baqueta contra el borde exterior, un a dos centímetros máximo. <br />

                Canta el cuenco a la izquierda <br />
                Canta el cuenco a la derecha <br />
                Canta con conteo inicia de 3 segundos, y ve ampliándolo<br />
            </p>
        </div>
        <br /><br />
        <div style=" margin-left:60%; margin-right:10%; ">
            <h3>Praxis 4</h3>
            <p>
                control del peso y tamaño: <br />
                Pasa de una mano a otra el cuenco sin sonar <br />
                Ahora pasa de una mano a otra el cuenco una vez percutido y trata de no apagar el sonido<br />
                Baja tu cuenco al piso y posicional en una base o sobre el piso sin sonar<br />
                Ahora repite la acción pero una vez percutido y trata de que no se apague el sonido al ponerlo sobre el piso <br />
            </p>
        </div>


    </section>    
    <br /><br /><br /><br />
    <section >
        <br /><br />
        <img class="radius space foto " src="/video/julio/trabajo_escrito_d13 .png" />
        <img class="radius space foto " src="/video/julio/trabajo_escrito_d13.png" />
        <img class="radius space foto " src="/video/julio/clasificacion_d13.png" />

        <br />
    </section>    
    <br /><br /><br /><br />
    <section >

        <video class="radius space sizevideo" style="margin-left:430px;" controls="controls">
            <source src="/video/julio/clase_6_semana_d_13.mp4" type="video/mp4" />
        </video>
        
    </section>    
    
</article>

@code {

}
