@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 16 2024
Fecha modificación:
Bugs:
Pendiente: Insertar audio 
/////////////////////////////////////
*@

@page "/D_18"

<PageTitle>18-Julio</PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />

</div>

<article class="contenido transparent">

    <section class="izquierdo">
    <br /><br /><br />
    <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Metodo GIM 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
    <br /><br /><br />

    <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/xIHrf8Mon-M" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/q27o1tnIkRQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/DQozd-ouPIY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="derecho">
        <br /><br /><br />
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Modelo Nordoff Robins 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
        <br /><br /><br />
        
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/a1xiG29UMOA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/Zf4F_m7eOMU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/-6s0GoLNzqk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>

    <br /><br /><br />


    <section class="izquierdo">
    <br /><br /><br />
    <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musicoterapia Conductual 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
    <br /><br /><br />

    <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/pIfuTt9CQAA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>


        <video class="radius space " style="width: 500px; height:330px;" controls="controls">
            <source src="/video/julio/musicoterapia_conductista_d18.mp4" type="video/mp4" />
        </video>

    <br /><br /><br />
    </section>


    <section class="derecho">

        <video class="radius space "  style="width: 500px; height:330px;"  controls="controls">
            <source src="/video/julio/fluir_resumen_animado_d18.mp4" type="video/mp4" />
        </video>

        <video class="radius space " style="width: 500px; height:330px;" controls="controls">
        <source src="/video/julio/mantra_4_d18.mp4" type="video/mp4" />
    </video>

    </section>
    <br /><br /><br />
    <section>

        <div id="tema" class="radius">
            <a target="_blank" style="text-decoration:none;  text-align:center; " href="/video/julio/Presentación_clase_7_d13.pdf">Sanación <br /> Musicoterapia Holística.pdf</a>
        </div>

    </section>
    <br /><br /><br />
    <section>


        <video class="radius space sizevideo" style="margin-left:430px;" controls="controls">
            <source src="/video/julio/clase_7_semana_4d13.mp4" type="video/mp4" />
        </video>

    </section>


</article>
<Footer />

@code {

}
