@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 18 2024
Fecha modificación:
Bugs:
Pendiente:
/////////////////////////////////////
*@

@page "/D_20"

<PageTitle>20-Julio</PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />

</div>

<article class="contenido transparent">

    <section class="izquierdo">

            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 El ritmo  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/lVPLIuBy9CY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br />
    <section class="derecho">

            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Metodo de improvisacion  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/qhFRNk34QII" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        

    </section>
        <br /><br /><br />
    <section class="izquierdo">

            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Percusion corporal grupal  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/M712hgTZ8m4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
        <br /><br /><br />
    <section class="derecho">

            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Percusion corporal grupal  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />

            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/M712hgTZ8m4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
        <br /><br /><br />
    <section class=" izquierdo">

            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Percusion corporal educativa 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/m4ql6br2Bf8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/m4ql6br2Bf8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
        <br /><br /><br />
    <section class="derecho">

            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Tecnica de empatia  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/Qa_qH2tzSV4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/8Ubw7oTayHc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
        
    <br /><br /><br />
     <section class="izquierdo">
        <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Tecnica de exploraxion emocional  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/BkrZuj0uf1c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <br /><br /><br />
    <section class="derecho">
            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Tecnicas referenciales 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/B2NwgWvCfHw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
    
    <section class="izquierdo">
            <h2 class="title">  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Tecnicas referenciales 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
            <br /><br /><br />
        <iframe class="radius space" width="500" height="330" src="https://www.youtube.com/embed/31rAbjYSECw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
    <section class="derecho">
    
        <video class="radius space" style="width: 500px; height:330px;" controls="controls">
            <source src="/video/julio/praxis_1_d20.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="width: 500px; height:330px;" controls="controls">
            <source src="/video/julio/praxis_2_d20.mp4" type="video/mp4" />
        </video>

    </section>
    <br /><br /><br />
    <section>

        <div id="tema" class="radius">
            <a target="_blank" style="text-decoration:none;  text-align:center; " href="/video/julio/MTH_CLASE_8_d_20.pdf">Sanación <br /> Metodos de la musicoterapia.pdf</a>
        </div>

    </section>
    <br /><br /><br />
    <section>
        <video class="radius space sizevideo" style="margin-left:430px;" controls="controls">
            <source src="/video/julio/clase_8_semana_d20.mp4" type="video/mp4" />
        </video>
    </section>

</article>
<Footer />

@code {

}
