@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 12 2024
Fecha modificación: 
Bugs: 
Pendiente:  
/////////////////////////////////////
*@

@page "/D_4"

<PageTitle>04-Julio</PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />

</div>
<articleclass class="contenido transparent ">

    <section class="derecho">
    <br /><br />
    </section>


    <section class="izquierdo">

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Ciencias de la Sanacion 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />

        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/bT7iouBNxyQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/PgPSU6SqDL0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/vU0TuWQSOU4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/B3T8V-IM4Xk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/L42AnSAdzXw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/i0djHJBAP3U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/n1_dwHg_VUM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/sVRoRaYJb6s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/PjhPH33EgJA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/C7HL5wYqAbU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/BdBRuHuUhJo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/hS21jI7p3hQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/glHXDhFnQy8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/ekN8fqU9zY4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/Jca78Q_E-Uc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/olw74en4uTY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/lW5WByctPsw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/6q4SQ_R43IQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/JDTp_YQizqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </section>
    <br /><br /><br /><br /><br />
    <section class="derecho">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Sarvesham Shanti Mantra 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
        <br /><br />

        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/P2wDpOahNtA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/4T26_STbXcI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/5X3g7xZwjl8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/6XP-f7wPM0A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/NF_Vj3WAsyM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <video  class="radius space" width="300" height="180" controls="controls">
            <source src="/video/julio/Ravi_Shanka_d4.mp4" type="video/mp4" />
        </video>
        <br /><br />
        <a id="word" style="text-decoration:none; text-align:center; margin-left:705px; " href="/video/julio/SARVESHAM_SHANTI_MANTRA_d4.docx">sarvesham<br />shanti<br /> mantra.docx</a>

    </section>
    <br /><br /><br />
    <section class="izquierdo">
        <h2 class="title">𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Terapia ritmica 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>
        <br /><br />
        
        <video class="radius sizevideo"  controls="controls">
            <source src="/video/julio/TERAPIA_RITMICA_d4.mp4" type="video/mp4" />
        </video>
        
        
    </section>

    <br /><br /><br />
    <section class="derecho">

        <div id="tema" class="radius">
            <a target="_blank" style="text-decoration:none; margin-left:37px; text-align:center; " href="/video/julio/clase_3_semana_2.pdf">Sanación <br /> muscial.pdf</a>
        </div>

    </section>

    <br /><br /><br />
    <section>
    
        <video class="radius space sizevideo" style="margin-left:420px;" controls="controls">
        <source src="/video/julio/clase_3_semana_d4.mp4" type="video/mp4" />
        </video>
        
    </section>
</articleclass>

@code {

}
