@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 12 2024
Fecha modificación:
Bugs:
Pendiente: Generar audio con JS
/////////////////////////////////////
*@
@page "/D_6"

<PageTitle>26-Junio</PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

    <br /><br /><br />
    <section class="izquierdo">
        
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Escucha activa 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />

        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/3n5JV0Wddw8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/h6Bg7rppZz0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section>
    <br /><br /><br />
    <section class="izquierdo">

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Sonidos 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />

        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/Q3oItpVa9fs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/01gYfRr4boI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/0gE3HH82qW4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <br/><iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/EFYaRwEgXng" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/j4Rb9h1ZcRE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/APhqd8DLbeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
       
    </section>
    
    <section style="margin-top:100px;">
        <video class="radius space sizevideo" style="margin-left:430px;" controls="controls">
            <source src="/video/julio/clase_4_semana_2_d6.mp4" type="video/mp4" />
        </video>

    </section>

</article>


@code {

}
