@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril 12 2024
Fecha modificación:
Bugs:
Pendiente:
/////////////////////////////////////
*@

@page "/D_j27"

<PageTitle>27-Julio</PageTitle>

<div style="position: absolute;"> 
    <img class="imgfd" src="/nota.png" />
</div>


<article class="contenido transparent">

    <section  >
        <h2 class="title" style="margin-left:27%;"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Semana Final  𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        
        <div id="tema" class="radius">
            <a target="_blank" style="text-decoration:none;  text-align:center; " href="/video/julio/MTH_Infantil_clase_10_d27.pdf">Musicoterapia Holistica.pdf</a>
        </div>

        <br /><br />        
        
        <video class="radius space sizevideo" style="margin-left:450px; width:690px;" controls="controls">
            <source src="/video/julio/clase_10_semana_dj27.mp4" type="video/mp4" />
        </video>
        
        <br /><br />
    </section>

</article>

@code {

}
