<footer class="footer1">
     
    <div class="ulposition">

        <ul class="clmuno">
            <li>
                <a href="">Terminos y condiciones</a>
            </li>

            <li>
                <a href="#">Politica de privacidad</a>
            </li>
            <li>
                <a href="#">Administrar las coockies</a>
            </li>
            
            <li>
                <button class="btnform">Envia un comentario </button>
            </li>
         

        </ul>
        
        <ul class="clmdos">
            <li>
                <a target="_blank" href="https://www.facebook.com/robertodaniel.acunaalarcon/"><i class="fa-brands fa-facebook"></i> </a>
                
            </li>
            
            <li>
                <a class="git" target="_blank" href="https://github.com/bettooss"> <i class="fa-brands fa-github"></i> </a>
            </li>

            <li>
                <a class="lkd" target="_blank" href="https://www.linkedin.com/in/roberto-acu%C3%B1a-alarcon-79881216b/"> <i class="fa-brands fa-linkedin"></i></a>
            </li>

            <li>
                <a class="mail" target="_blank" href="mailto:robertoaalarcon@live.com"> <i class="fa-solid fa-envelope"></i> </a>
            </li>


        </ul>
        
        
    </div>
    <p><i class="fa-regular fa-copyright"></i> 2024 Todos los derechos reservados</p>

</footer>

@code {


}
