@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril / 19 / 2024
Fecha modificación: 
Bugs: 
Pendiente:  
/////////////////////////////////////
*@


@page "/D_1"
@inject IJSRuntime JS


<PageTitle> 1-Agosto </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

    <section class="izquierdo">
        <br />
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Medicina de la Semana 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <iframe class="radius " width="500" height="330" src="https://www.youtube.com/embed/eBmZQiwlDME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <br /><br /><br />
        <button id="btnsong" @onclick="Song" class=" btnmantra" style="margin-left :45%;"><p>Ver mantra</p> </button>

        
        <div id="infor" style="display:none; text-align: center;">
            <br /><br /> 
            <p>
                Soy de un pueblo que viene de lejos <br />
                Mas allá del principio del tiempo<br />
                Y venimos cantando los versos<br />
                Que cantaba mi abuelo<br />
                Cantando a la tierra primero<br />
                Luego canto a mi Padre en el cielo <br />
                Luego canto a mis cuatro abuelos<br />
                Luego canto a mis sueños<br />
                Para que no se apague este grito<br />
                Que derrama mi sangre en la tierra<br />
                Como el agua transforma la piedra<br />
                Me transforma el amarte<br />
                Cuando el fuego calienta la roca<br />
                Viene el agua y descubre que es aire<br />
                Yo descubro que soy la mirada<br />
                La memoria de un pueblo<br />
                Porque soy un viejo caminante<br />
                Caminando un camino de estrellas<br />
                En la tierra soy un pequeñito<br />
                En el cielo un cometa<br />
                Porque soy un viejo caminante<br />
                Caminando un camino de estrellas<br />
                En la tierra soy un pequeñito<br />
                En el cielo un cometa<br />

            </p>        
        </div>


        <br /><br />

    </section>
    <br /><br /><br />
    <section class="derecho">
        <br />
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  ND y Discapacidad 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />

        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/00-p8nKo95s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/vBsSUa7rhA4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/4AKBe2_4f3Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/LzD52IoqeYc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="300" height="180" src="https://www.youtube.com/embed/um6ywk3HRZU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        

    </section>
    <br /><br /><br />
    <section>
        <br />

        <video class="radius space sizevideo" style="margin-left:390px; width:690px;" controls="controls">
            <source src="/video/agosto/clase_11_semana6_d1.mp4" type="video/mp4" />
        </video>
    </section>





</article>

<Footer />
@code {

    private async Task Song()

    {
        await JS.InvokeVoidAsync("show_hidden1");
    }



}
