
@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril / 19 / 2024
Fecha modificación:
Bugs:
Pendiente: Incluir audio
/////////////////////////////////////
*@


@page "/D_5"

<PageTitle> 5-Agosto </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

<section class="izquierdo">
    <br /><br />
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 OM SHANTI 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br /><br /><br />

        <div>

            <p>
                <br />
                Este ejercicio de Mantra es para tener en cuenta lo siguiente:<br />
                <br />
                1.-P- Construir tu Postura<br />
                2.-RE- Concentrarte en una respi ración rítmica <br />
                3.-M- Observar conscientemente cualquier movimiento <br />
                4.-A- Desarrollar una actitud, un sentimiento al cantarlo <br />
                5.-S- Ir puliendo tu sonido mientras lo practicas <br />

            </p>
        </div>

</section>

    <br /><br /><br />
<section class="derecho">
        <br /><br />

        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟  Mantras 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟</h2>

        <br /><br />
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/guZI5Z_37Yk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/M8TZ-f2DT4A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/6RR3lRvUosE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/uOuIgTSyVIk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/DEzvztais7E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/VOprf7160bw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/TTUhFXbEnvY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/40Y1QFIlEqE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/HlvHJ9oa4-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/VMCAEZzL5do" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/hMED-AGewAY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/S0nUTYWqlJA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/YQrs9zlOW1U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/-ZnMna-OZyI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/DOPXmLc0fcs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/-xFje2ZWtKw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="400" height="220" src="https://www.youtube.com/embed/GePN4-Cajvk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

        <video class="radius space" style="width:400px; height:220px;" controls="controls">
            <source src="/video/agosto/radh_d5.mp4" type="video/mp4" />
        </video>
        <video class="radius space" style="width:400px; height:220px;" controls="controls">
            <source src="/video/agosto/you_can_count_on_me_d5.mp4" type="video/mp4" />
        </video>
        @*class="radius space" style="width:400px; height:220px;"*@
        
    </section>


    
</article>

<Footer />
@code {

}
