@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril / 19 / 2024
Fecha modificación:
Bugs:
Pendiente:
/////////////////////////////////////
*@


@page "/D_8"

<PageTitle> 3-Agosto </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

    <section>
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Clase de semana 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>
        <br/><br /><br />

        
        <div id="tema" class="radius">

            <a target="_blank" style="text-decoration:none; text-align:center;" href="\video\Agosto\MTH_Clase_13_d8.pdf">Musicoterapia Holística.pdf</a>

        </div>
        <br /><br />
        <video class="radius space sizevideo" style="margin-left:390px; width:690px;" controls="controls">
            <source src="/video/agosto/clase_13_semana_d8.mp4" type="video/mp4" />
        </video>

    </section>

</article>

<Footer />
@code {

}
