@*
/////////////////////////////////////
Proyecto: Servicio social Curso kinder yoga
Developer: Roberto Acuña
Fecha Inicio:  Abril / 20 / 2024
Fecha modificación:
Bugs:
Pendiente: Insertar audio
/////////////////////////////////////
*@


@page "/D_9"

<PageTitle> 3-Agosto </PageTitle>

<div style="position: absolute;">
    <img class="imgfd" src="/nota.png" />
    
</div>

    
<article class="contenido transparent  ">

    <section class="izquierdo">
        <h2 class="title"> 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 Musica Medicinal 𝅘𝅥𝅘𝅥𝅯𝅘𝅥𝅱 𝄞𝄟 </h2>


        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/0vh2hEvlz4A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/ZcDm5Aa5254" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/eMhuAG-sOcI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/iYVMZ7I5F7w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/CFjkooRVUeM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/-bSmph1_6LU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/1F_kPO07vGs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/OTJd02cGq10" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/7L0ZoezM47U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/F9mA9swyiAQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/PZhV5yXDmnY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/U3PsZZPiNH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/kMnwLZJC2Ps" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/Xig0NiwLvWA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe class="radius space" width="220" height="180" src="https://www.youtube.com/embed/Lpf9CNbSL0w" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        

    </section>

    <section>
        <br /><br /><br />



        <video class="radius space sizevideo" style="margin-left:450px; width:690px;" controls="controls">
            <source src="/video/agosto/CH_d9.mp4" type="video/mp4" />
        </video>

    </section>



</article>

<Footer />
@code {

}
